@import url('https://fonts.googleapis.com/css?family=Courier+Prime');
@import url('https://fonts.googleapis.com/css?family=Oooh+Baby');

img {
  width: 50%;
  height: auto;
}

.introduction{
text-align: center;
font-size: 25px;
}


body {
  backgroud:white;
}
