@import url('https://fonts.googleapis.com/css?family=Courier+Prime');
@import url('https://fonts.googleapis.com/css?family=Oooh+Baby');

body {
  background-color:#121212;
  color:  #E0E0E0;
}

h2 {
  color:#6f24a6;
  text-align: center;
}

.About {
  text-align: center;
}


img {
  width: 500px;
  height: auto;
}

.introduction{
text-align: center;
font-size: 25px;

}

header{
border: 10px solid goldenrod;
}




.projects {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.project {
  width: 30%;
  box-sizing: border-box;
  text-align:center;
}

summary:hover{
  cursor:pointer;
}

.weatherwrap{
 margin:0;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.weatherwrap h1{
  margin-top:0;
  margin-bottom: 20px;
}

.weatherwrap p{
  font-size: 1.5rem;
  margin:6px;
}


.weatherapi{
  margin:20px;
}

.cityinput{
  padding:10px;
  font-size:15px;
  font-weight:bold;
  border: 2px solid rgb(218, 165, 32) ;
  border-radius: 10px;
  margin:10px;
  width:300px;
}

button[type='submit']{
  padding: 10px 15px;
  font-weight: bold;
  font-size: 10px;
  background: grey;
  border:none;
  cursor:pointer;
}

button[type='submit']:hover{
  background-color:black;
  color:grey;
}

.card{
  background: linear-gradient(180deg,rgb(22, 3, 77),rgb(207, 207, 117));
  padding:50px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.75);
  min-width: 300px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.citydisplay, .tempdisplay{
  font-size: 3rem;
  font-weight:bold;
  margin-bottom:25px;
  font-family: "Courier Prime";
}

.humiditydisplay{
  font-weight:bold;
  margin-bottom: 25px;
}

.conditiondisplay{
  font-weight:bold;
  font-size:2rem;
  font-family: "Courier Prime";

}

.weatheremoji{
  font-size: 6rem !important;
  
}

.errordisplay{
  font-size:2rem;
  font-weight:bold;
}