@import url('https://fonts.googleapis.com/css?family=Courier+Prime');
@import url('https://fonts.googleapis.com/css?family=Oooh+Baby');

body {
  background-color: rgb(54, 69, 79);
}

img {
  width: 500px;
  height: auto;
}

.introduction{
text-align: center;
font-size: 25px;

}

header{
border-width: 10px;
border-style: solid;
border-color: gold;
}


