@import url('https://fonts.googleapis.com/css?family=Courier+Prime');
@import url('https://fonts.googleapis.com/css?family=Oooh+Baby');

img {
  width: 20px;
  height: auto;
}

.introduction{
text-align: center;
}

body {
  backgroud:white;
}
