@import url('https://fonts.googleapis.com/css?family=Courier+Prime');
@import url('https://fonts.googleapis.com/css?family=Oooh+Baby');

img {
  width: 50%;
  height: 50%;
}

.introduction{
text-align: center;
font-size: 25px;
border-width: 5px;
border-style: solid;
border-color: gold;
}


body {
  backgroud: black;
}
