@import url('https://fonts.googleapis.com/css?family=Courier+Prime');
@import url('https://fonts.googleapis.com/css?family=Oooh+Baby');

body {
  background-color:#121212;
  color:  #E0E0E0;
}

h2 {
  color:#6f24a6;
  text-align: center;
}

.About {
  text-align: center;
}


img {
  width: 500px;
  height: auto;
}

.introduction{
text-align: center;
font-size: 25px;

}

header{
border-width: 10px;
border-style: solid;
border-color: gold;
}




.projects {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.project {
  width: 30%;
  box-sizing: border-box;
  text-align:center;
}

.weather-api {
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  border-width: 10px;
 border-style: solid;
 border-color: gold;
}