@import url('https://fonts.googleapis.com/css?family=Courier+Prime');
@import url('https://fonts.googleapis.com/css?family=Oooh+Baby');

img {
  width: 100px;
  height: auto;
}

.introduction{
text-align: center;
font-size: 25px;
border-width: 10px;
border-style: solid;
border-color: gold;
}


body {
  backgroud: black;
}
