@import url('https://fonts.googleapis.com/css?family=Courier+Prime');
@import url('https://fonts.googleapis.com/css?family=Oooh+Baby');

.small-img {
  width: 50px;   /* or any size you want */
  height: 50px;   /* keeps aspect ratio */
}
